# Copy this file to terraform.tfvars and fill in real values.
# terraform.tfvars is gitignored - never commit it.

project_name = "shopnaija"
environment  = "production"
aws_region   = "eu-west-1"

alert_email = "devops@shopnaija.com"
instance_type        = "t4g.small"
asg_min_size         = 2
asg_max_size         = 4
asg_desired_capacity = 2

db_instance_class = "db.t3.micro"
db_multi_az       = true

single_nat_gateway = true

domain_name = ""